{
    "extends": "eslint:recommended",
    "globals": {
        "Notification": true,
        "document": true,
        "window": true,
        "requestAnimationFrame": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "impliedStrict": true
    },
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "no-console": "warn",
        "quotes": [
            "error",
            "single"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-var": "warn",
        "block-scoped-var": "error",
        "no-extra-parens": [
            "error",
            "all"
        ],
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "semi": [
            "error",
            "never"
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "never",
                "objects": "never",
                "imports": "never",
                "exports": "never",
                "functions": "ignore"
            }
        ],
        "array-bracket-newline": [
            "error",
            {
                "multiline": true,
                "minItems": 2
            }
        ],
        "array-element-newline": [
            "error",
            {
                "multiline": true,
                "minItems": 2
            }
        ]
    }
}