#drag-drop {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr;
}

#drag-drop header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-row: 1 / span 1;
}

#drag-drop header h1 {
    font-family: 'Bebas Neue';
    font-size: 7vh;
    margin-bottom: 0;
    margin-top: 1.5vh;
    color: white;
}

#drag-drop header button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: black;
    border: none;
    border-radius: 1.25em;
    font-size: 1.2rem;
    padding: 0.2em 0.8em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#drag-drop main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    grid-row: 2 / span 1;
}

#drag-drop h2 {
    margin-top: 0;
    color: white;
    font-size: 2.75vh;
    margin-bottom: 1rem;
}

#drag-drop li {
    list-style-type: none;
}

#drag-drop>main>section {
    max-height: 90vh;
    background: #3b3e41;
    border-radius: 0.3rem;
    padding: 1rem 1rem;
}

#drag-drop>main>section>ul {
    padding: 0;
    max-height: calc(87vh - 1rem - 1rem);
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
}

#drag-drop>main>section>ul>li {
    font-size: 1.3rem;
    background: #ffffff;
    padding: 1em;
    width: 24rem;
    min-height: 12rem;
    -moz-user-select: none;
    user-select: none;
    cursor: grab;
    border-radius: 0.3rem;
}

#drag-drop>main>section>ul>li:not(:last-of-type) {
    margin-bottom: 1rem;
}

#drag-drop>main>section>ul>li>ul {
    padding: 0;
}

#drag-drop>main>section>ul>li>h3 + h4 {
    margin-top: -0.8em;
}

#drag-drop>main>section>ul>li>h4 {
    margin: 0;
}

#drag-drop>main>section>ul>li>h4 + p {
    margin-top: 0.4em;
}

#drag-drop>main>section>ul>li>p {
    margin-bottom: 0;
}

#drag-drop>main>section>ul>li>ul>li>a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

#drag-drop>main>section>ul>li>ul>li>a:hover {
    text-decoration: underline;
}

#drag-drop>main>section>ul>li>ul>li:not(:last-of-type) {
    margin-bottom: 0.6em    
}

#drag-drop .isDragging>ul {
    padding: 0;
}

#drag-drop .isDragging>ul>li>a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

#drag-drop .isDragging>ul>li:not(:last-of-type) {
    margin-bottom: 0.6em    
}

#drag-drop>main>section>ul>li:hover {
    background: #db7e70;
}

#drag-drop li.isDragging {
    position: fixed !important;
    top: var(--drag-top);
    left: var(--drag-left);
    cursor: grabbing;
    width: 24rem;
    min-height: 12rem;
    padding: 1em;
    background: white;
    border-radius: 0.3rem;
    user-select: none;
    font-size: 1.3rem;
}

#drag-drop li.isDragging * {
    user-select: none;
}

#drag-drop h1 {
    font-size: 2.8em
}

#drag-drop h3 {
    margin: 0;
    margin-bottom: 1rem;
}

#drag-drop .isDragging>ul {
    padding: 0;
    margin: 0;
}

#drag-drop .isDragging>h3+h4 {
    margin-top: -0.8em;
}

#drag-drop .isDragging>h4 {
    margin: 0;
}

#drag-drop .isDragging>h4+p {
    margin-top: 0.4em;
}

#drag-drop .isDragging>p {
    margin-bottom: 0;
}

#drag-drop li.empty {
    background: darkgrey;
    width: var(--placeholder-width);
    height: var(--placeholder-height);
}

#drag-drop>main>section:not(:last-of-type) {
    margin-right: 4em;
}