#drag-drop {
  overflow: hidden;
  grid-template-columns: 1fr;
}

/**************************************************/
/********************* MAIN ***********************/
/**************************************************/
#drag-drop main {
  display: flex;
  justify-content: flex-start;
  padding: 0 calc(var(--padding) * 4);
  align-items: flex-start;
  flex-wrap: nowrap;
  grid-row: 2 / span 1;
  height: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#drag-drop li {
  list-style-type: none;
}

/**************************************************/
/******************** SECTION *********************/
/**************************************************/
#drag-drop > main > section {
  max-height: calc(100vh - 10.5rem);
  background: var(--section-colour);
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: grid;
  grid-template-columns: 24rem, 1.5rem;
  grid-template-rows: 2.375rem, 1fr;
  grid-column-gap: var(--padding);
}

#drag-drop > main > section:last-of-type {
  margin-right: 4rem;
}

#drag-drop > main > section:not(:last-of-type) {
  margin-right: 4rem;
}

#drag-drop > main > section > div {
  position: relative;
  max-height: calc(84vh - 2rem);
  width: 1.25rem;
  border-radius: 0.75rem;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background: var(--empty-colour);
}

#drag-drop > main > section > div > div {
  position: absolute;
  width: 1.25rem;
  border-radius: 0.75rem;
  background: var(--hover-colour);
  top: var(--sb-top);
  height: var(--sb-height, 100%);
}

#drag-drop > main > section > ul {
  padding: 0;
  max-height: calc(100vh - 15.875rem);
  width: 24rem;
  overflow: hidden;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border-radius: var(--border-radius);
  margin: 0;
}

/**************************************************/
/******************** ITEMS ***********************/
/**************************************************/
#drag-drop > main > section > ul > li,
#drag-drop li.isDragging {
  font-size: 1.3rem;
  background: var(--item-colour);
  padding: var(--padding);
  width: 24rem;
  flex: 0 0 auto;
  -moz-user-select: none;
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: var(--border-radius);
}

#drag-drop > main > section > ul > li:not(:last-of-type),
#drag-drop .isDragging > ul > li:not(:last-of-type) {
  margin-bottom: 1rem;
}

#drag-drop > main > section > ul > li > ul,
#drag-drop .isDragging > ul {
  margin: 0;
  padding: 0;
}

#drag-drop > main > section > ul > li > h3,
#drag-drop .isDragging > h3 {
  margin: 0;
  margin-bottom: 1rem;
  color: var(--text-colour);
}

#drag-drop > main > section > ul > li > h3 + h4,
#drag-drop .isDragging > h3 + h4 {
  color: var(--text-colour);
  margin-top: -0.8em;
}

#drag-drop > main > section > ul > li > h4,
#drag-drop .isDragging > h4 {
  margin: 0;
  color: var(--text-colour);
}

#drag-drop > main > section > ul > li > h4 + p,
#drag-drop .isDragging > h4 + p {
  margin-top: 0.4em;
}

#drag-drop > main > section > ul > li > p,
#drag-drop .isDragging > p {
  margin-bottom: 0;
  color: var(--text-colour);
}

#drag-drop > main > section > ul > li > ul > li > a,
#drag-drop .isDragging > ul > li > a {
  text-decoration: none;
  color: var(--text-colour);
  transition: all 0.2s ease-in-out;
}

#drag-drop > main > section > ul > li > ul > li > a:hover {
  text-decoration: underline;
}

#drag-drop > main > section > ul > li > ul > li:not(:last-of-type),
#drag-drop .isDragging > ul > li:not(:last-of-type) {
  margin-bottom: 0.6em;
}

#drag-drop > main > section > ul > li > img,
#drag-drop .isDragging > img {
    width: 24rem;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: -1rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    border-radius: var(--border-radius);
}

#drag-drop > main > section > ul > li:hover {
  background: var(--hover-colour);
}

#drag-drop > main > section > ul > li:hover img {
  opacity: 0.7;
}

#drag-drop li.isDragging {
  position: fixed !important;
  top: var(--drag-top);
  left: var(--drag-left);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#drag-drop li.empty {
  background: var(--empty-colour);
  width: var(--placeholder-width);
  height: var(--placeholder-height);
}
