@font-face {
    font-family: 'Bebas Neue';
    src: './BebasNeue Regular.otf';
    font-weight: 400;
}
@font-face {
    font-family: 'Bebas Neue';
    src: './BebasNeue thin.otf';
    font-weight: 100;
}
@font-face {
    font-family: 'Bebas Neue';
    src: './BebasNeue Bold.otf';
    font-weight: 700;
}
@font-face {
    font-family: 'Bebas Neue';
    src: './BebasNeue Light.otf';
    font-weight: 300;
}