<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <% if (htmlWebpackPlugin.options.client) { %>
        <meta name="google-signin-client_id" content="<%= htmlWebpackPlugin.options.client %>.apps.googleusercontent.com">
        <meta name="google-signin-cookiepolicy" content="single_host_origin">
        <meta name="google-signin-scope" content="profile email">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    <% } %>
</head>
<body id="login">
    <section>
        <h1>Log in</h1>
        <form>
            <label>
                E-mailadres
                <input type="email" name="email">
            </label>
            <label>
                Wachtwoord
                <input type="password" name="password">
            </label>
            <input type="submit" value="Inloggen">
        </form>
        <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>
        <button id="signout">Uitloggen</button>
    </section>
</body>
</html>