@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Lato:400,700');
@import './fonts/fonts.css';

:root {
    --border-radius: 0.75em;
    --box-shadow: 0 0.8rem 1rem -.2rem hsl(var(--colour-hue), 49%, 19%);
    --colour-hue: 158;
    --bg-colour: hsl(var(--colour-hue), 49%, 24%);
    --section-colour: hsl(var(--colour-hue), 49%, 39%);
    --item-colour: hsl(var(--colour-hue), 49%, 49%);
    --hover-colour: hsl(var(--colour-hue), 49%, 59%);
    --empty-colour: hsl(var(--colour-hue), 49%, 29%);
    --accent-colour: hsl(var(--colour-hue), 49%, 19%);
    --picker-colour: hsl(var(--temporary-hue, var(--colour-hue)), 49%, 49%);
    --picker-hover-colour: hsl(var(--temporary-hue, var(--colour-hue)), 49%, 59%);
    --text-colour: #ffffff;
    --secondary-text: #fcfcfc;
}

*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Lato', serif;
}

body {
    background: var(--bg-colour);
}

@import './components/drag-drop/drag-drop.css';
@import './components/login/login.css';
@import './modules/HeadsUp/HeadsUp.css';
@import './modules/Modal/Modal.css';